.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.125rem;
  height: 23.875rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.875rem;
}

.login__form {
  flex-direction: column;
  gap: 1rem;
}

.form__input--wrapper {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0.375rem;
}
.form__input {
  background-color: var(--wheat-color);
  padding: 0.9375rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}
.form__submit {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  outline: none;
  color: var(--blue-color);
  font-weight: 700;
  background-color: var(--light-blue-color);
  cursor: pointer;
}
.form__link {
  text-decoration: none;
  margin-left: 0.5rem;
}
.form__error {
  font-size: 0.8rem;
  color: red;
}
.error {
  border: 1px red solid;
}
