.error__wrapper {
  width: 30%;
  margin: auto;
  margin-top: 30vh;
  flex-direction: column;
}
.error__title {
  font-size: 4.5rem;
  font-weight: 600;
}
.error__text {
  font-weight: 600;
  color: var(--light-gray-color);
}
.error__button {
  text-decoration: none;
  color: black;
  border-radius: 1.5rem;
  background-color: var(--light-blue-color);
  font-weight: 700;
  padding: 16px 32px;
  margin-top: 24px;
  cursor: pointer;
}
